body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #8aa5b4; /* sky blue */
}

.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004b8d;
  color: white;
  padding: 10px 20px;
}

.menu-btn,
.logout-btn {
  background-color: white;
  color: #004b8d;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dashboard-logo {
  height: 50px;
}

.institution-names h2,
.institution-names h3 {
  margin: 0;
  text-align: left;
}

.leave-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #2089c1;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.leave-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.leave-form input,
.leave-form button {
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.leave-form input::placeholder {
  color: #888;
}

.leave-form input[type="file"] {
  padding: 6px;
  border: none;
}

.preview-container {
  margin-top: 10px;
}

.file-preview {
  width: 100%;
  max-width: 300px;
  margin-top: 5px;
  border-radius: 5px;
}

.submit-btn {
  background-color: #0077b6;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.submit-btn:hover {
  background-color: #005f8a;
}

.date-fields {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.date-fields .date-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}